---
- name: Install docker compose plugin
  apt:
    name: docker-compose-plugin
    state: present
    update_cache: yes

- name: Clone motra images repository to user directory
  become: true
  become_user: "{{ motra_user }}"
  git:
    repo: "{{ motra_repo_url }}"
    dest: "{{ motra_user_dir }}"
    version: "{{ motra_version }}"
    force: yes
