---
- name: Install docker compose plugin
  apt:
    name: docker-compose-plugin
    state: present
    update_cache: yes

- name: Creates ssh directory
  become: true
  file:
    path: "/home/{{ motra_user }}/.ssh"
    state: directory
    owner: "{{ motra_user }}"
    group: "{{ motra_user }}"
    mode: "0700"

- name: Clone motra images repository to user directory
  become: true
  become_user: "{{ motra_user }}"
  git:
    repo: "{{ motra_repo_url }}"
    dest: "{{ motra_user_dir }}"
    accept_hostkey: yes
    version: "{{ motra_version }}"
    force: yes

- name: Create systemd slice
  become: true
  copy:
    dest: /etc/systemd/system/isolated.slice
    mode: "0644"
    content: |
      [Unit]
      Description=Slice for isolated, time-sensitive workloads
      Before=slices.target

      [Slice]
      AllowedCPUs=3
      AllowedMemoryNodes=0
      MemoryMax=4G

- name: Reload systemd to pick up isolated.slice
  become: true
  systemd:
    daemon_reload: yes

- name: Ensure isolated.slice is started
  become: true
  systemd:
    name: isolated.slice
    state: started
